.workshop-container {
  width: 100%;
  min-width: 215px;
  max-width: 100%;
  margin: 10px;
  border-radius: 25px;
  border: 2px solid #f15358;
  overflow: hidden;
  background: rgba(25, 41, 61, 0.5);
}

.workshop-card {
  padding: 0;
}

.workshop__image {
  width: 100%;
}

.workshop__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.workshop__info h2 {
  color: #192942;
  font-size: 1.5rem;
  text-align: center;
}

.workshop__info p {
  color: #192942;
  font-size: 1rem;
}

.workshop__info p,
h2 {
  margin: 0;
}

.workshop__info p {
  align-self: flex-start;
}

.workshop__info button {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  border: none;
  background-color: #192942;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  outline: none;
  padding: 10px;
  font-size: 0.9em;
  font-weight: bold;
}

@media (min-width: 500px) {
  .workshop-container {
    max-width: 30%;
  }
}

@media (min-width: 950px) {
  .workshop-container {
    max-width: 20%;
  }
}
