.login {
  padding: 20px;
  background-color: rgba(25, 41, 61, 0.5);
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  padding: 2rem;
  max-width: 30rem;
  background: #192942;
  color: white;
  border-radius: 35px;
}

.login-title {
  font-size: 2.8rem;
  margin: 0;
  padding-top: 15px;
  text-align: center;
  line-height: 1;
}

.form {
  text-align: center;
  width: 100%;
}

.form__label {
  font-size: 1.8rem;
}

.form__input {
  border: none;
  background: #bac5d2;
  padding: 10px;
  font-size: 1.3rem;
  width: 100%;
  outline: none;
  transition: all 0.3s;
  border-radius: 10px;
}

.form__input:focus {
  border-radius: 20px;
}

.form__button {
  width: 100%;
  font-size: 1.3rem;
  margin-top: 25px;
  padding: 10px;
  border: none;
  background-color: #5f3e97;
  margin-bottom: 15px;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  outline: none;
  transition: background 0.3s;
}

.form__button:hover {
  background: rgba(95, 62, 141, 0.8);
}

@media (min-width: 950px) {
  .login-card {
    padding: 3rem;
  }
}