.workshops-container {
  padding: 10px 15px 30px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input-container {
  padding: 30px 30% 0 30%;
}

.input-container p {
  margin: 0;
  font-size: 1.2em;
  line-height: 1.2;
}

.input-container input {
  width: 100%;
}

@media (min-width: 950px) {
  .workshops-container {
    padding: 30px;
  }
}