body {
  margin: 0;
  font-family: 'Baloo Bhaina 2', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translatex(-100%);
  opacity: 0;
  transition: all 200ms;
}

.fade-in-enter {
  transform: translateY(-100%);
  transition: all 300ms;

}

.fade-in-enter-active {
  transform: translateY(0%);
}

.fade-in-exit {
  transform: translateY(0%);

  transition: all 300ms;
}

.fade-in-exit-active {
  transform: translateY(-100%);

}